<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home_style.css">
  <title>Financial Servant</title>
</head>
<body>
<div class="container">
  <div class="row" style="text-align: center">
    <div class="col-xs-12">
      <h1>Sorry :(. I need your identity in order to serve you best</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <a href="/login" class="btn btn-primary" id="btnLogin">Click Here To Login</a>
    </div>
  </div>
</div>
</body>
</html>